
    {{#each books}}
    <div class="row">
        <img src="{{bookImg}}" alt="{{title}}">
        <div class="bookData">
            <h1>{{title}}</h1>
        <p>{{stripTags (truncate body 100)}}</p>
        <h4><span>Written By: </span>{{author}}</h4>
        <span class="align-end">
            <span class="chips publisher">Published By: <a href="/books/user/{{user._id}}">
             {{user.displayName}}
            </a></span>
            {{{editIcon user ../user _id}}}
            <a href="/books/{{_id}}"  class="chips"> Read More...</a>
        </span>
        </div>
    </div>
    {{else}}
    <p>No Books to show</p>
    {{/each}}

