<div class="header">
  <a href="/books/add" class="moreBtn">Add Book</a>
  <span class="input"><input type="text" disabled /></span>
  <div class="other">
    <span class="chips">Volumes</span>
    <span class="chips">Authors</span>
    <span class="chips">Genre</span>
    <span class="btn"><input type="button" value="Search" disabled /></span>
  </div>
</div>
<div class="books">
  {{#if books}}
    {{#each books}}
      <div class="book">
        <div class="img">
          <img src="{{bookImg}}" alt={{title}} />
        </div>
        <a href="/books/{{_id}}">{{title}}</a>
        <small>By: {{author}}</small>
      </div>
    {{/each}}
  {{else}}
    <div class="noBook"> You have no book in your book rack!!</div>
  {{/if}}
</div>
{{!-- 
      <tr>
          <td><a href="/books/{{_id}}"></a>{{title}}</td>
          <td>{{formatDate createdAt "MMM Do YYYY "}} </td>
          <td><span class="dash-status">{{status}} </span></td>
          <td>
            <a href="/books/edit/{{_id}}">Edit</a>
            <form action="/books/{{_id}}" method="POST">
              <input name="_method" type="hidden" value="DELETE" />
              <button type="submit">Delete</button>
            </form>
          </td>
      </tr>
 --}}